<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Practice_Chap04_Servlet-3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sec_exam01.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>id</param-name>
    <param-value>scott</param-value>
  </context-param>
  <context-param>
    <param-name>pw</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <context-param>
    <param-name>path</param-name>
    <param-value>C://Temp</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>ContextInitParam</display-name>
    <servlet-name>ContextInitParam</servlet-name>
    <servlet-class>sec_exam03.ContextInitParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextInitParam</servlet-name>
    <url-pattern>/CP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Example</display-name>
    <servlet-name>Example</servlet-name>
    <servlet-class>sec_exam03.Example</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Example</servlet-name>
    <url-pattern>/Example</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextListener</display-name>
    <servlet-name>ServletContextListener</servlet-name>
    <servlet-class>sec_exam04.ServletContextListener</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextListener</servlet-name>
    <url-pattern>/ServletContextListener</url-pattern>
  </servlet-mapping>
  
  <!--<listener>
  	<listener-class>sec_exam04.ServletListener</listener-class>
  </listener>
  -->
  
</web-app>