<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Practice_Chap02_Servlet-1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>sec01_exam.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/hw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NowTime</display-name>
    <servlet-name>NowTime</servlet-name>
    <servlet-class>sec02_exam.NowTime</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NowTime</servlet-name>
    <url-pattern>/NowTime</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetorPostServlet</display-name>
    <servlet-name>GetorPostServlet</servlet-name>
    <servlet-class>sec03_exam.GetorPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetorPostServlet</servlet-name>
    <url-pattern>/GetorPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>sec04_exam.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DogChoiceServlet</display-name>
    <servlet-name>DogChoiceServlet</servlet-name>
    <servlet-class>sec05_exam.DogChoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DogChoiceServlet</servlet-name>
    <url-pattern>/choiceDog</url-pattern>
  </servlet-mapping>
</web-app>